---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<!-- Port content from previous CV and portfolio here, including LinkedIn work -->
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    5+ years experience specializing in C, C++, Python, Rust, Java, JS, C, IOS
    Dev, Game Dev, Full Stack Dev, and computer hacking/security. Super nerd who
    loves aviation, basketball, Linux and OS X and enjoys customising all of the
    development environment and to mess around with cybersecurity. Interested in
    devising a better problem‐solving method for challenging tasks, and learning
    new technologies and tools if the need arises.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High School"
      subtitle="2022 to 2027 at SJIIM, KL, Malaysia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Achievements</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="2023 Regional Qualifier"
      subtitle="Uber Hackathon"
    />
    <TimeLineElement title="55th Place Overall" subtitle="PICO CTF Annual CTF" />
    <TimeLineElement
      title="2023 Regional Qualifier"
      subtitle="Runs and Funs Game Jam"
    />
    <TimeLineElement title="2022 Top 20%" subtitle="Yale YHACK" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
</div>

<div class="time-line-container mb-10">
    <TimeLineElement
        title="Tech Admin"
        subtitle="From Jun 2024 to Present at Power Home Realty, Federal Territory of Kuala Lumpur, Malaysia"
    >
        Internship at Power Home Realty.
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Co-Founder"
        subtitle="From Mar 2024 to Present at St. Joseph's Computer Science Society, Selangor, Malaysia"
    >
        Full-time position at St. Joseph's Computer Science Society.
        Skills: Communication, Algorithms, English, Cantonese, Project Management, Marketing, Competitive Programming, Computer Science, Programming Languages, Data Structures, C#, C (Programming Language).
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Software Developer"
        subtitle="From Feb 2024 to Present at Power Home Realty, Malaysia"
    >
        Freelance position at Power Home Realty. Building an app that helps property agents receive jobs and for project developers to allow their projects to be sold anywhere.
        Skills: Software Infrastructure, SQL, Databases, JavaScript, Full-Stack Development, MongoDB, TypeScript.
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Game Developer"
        subtitle="From Dec 2023 to Jan 2024 at Runs and Funs Game Jam, United States"
    >
        Self-employed position. Participated in a month-long game jam, under the theme "changing the perception."
        Skills: User Experience (UX), Data Analysis, Game Programming, Artificial Intelligence (AI), Game Development, C#, C (Programming Language).
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Volunteer Programmer"
        subtitle="From Jun 2022 to Dec 2023 at WSC, Global"
    >
        Self-employed position. Built a fully working iOS app linked to the cloud database hosted on AWS. Designed an overall service architecture for the ecosystem complimenting the website and app. Implemented several API microservices to Google Maps using built-in Swift libraries.
        Skills: iOS Development, Amazon Web Services (AWS), Programming.
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Researcher"
        subtitle="From Mar 2023 to Jun 2023 at International Journal of Mathematical Techniques and Computational Math, Malaysia"
    >
        Freelance position. Published research papers in the field of Machine Learning and Low-Level Computing. Invited to the Review Board.
        Skills: Programming Concepts, Research Skills, Project Management, Data Science, Low Level Programming, Machine Learning, Statistics.
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Penetration Tester"
        subtitle="From Jan 2022 to Apr 2023 at /bin/sh, Ontario, Canada"
    >
        Full-time position. Developed multiple tools and projects, such as honeypots, global recon, and reverse-shelling tools for automated analysis. Participated in multiple CTF competitions, achieving 57th place in PicoCTF 2022, 55th place in Yale UHACK, and 12th place in PicoCTF 2023.
        Skills: Communication, Python (Programming Language), C++, Vulnerability Assessment, Critical Thinking.
    </TimeLineElement>
    <br>
    <TimeLineElement
        title="Pentester"
        subtitle="From Mar 2022 to Apr 2022 at Colombian Energy Government, Colombia"
    >
        Freelance position. Discovered a PHP vulnerability on the site and reported it immediately. Conducted a short report on the situation to inform and prevent future issues.
        Skills: OWASP, Vulnerability Assessment, Vulnerability Management, Critical Thinking.
    </TimeLineElement>
</div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a target="_blank">OSCP Certification</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>C++</li>
    <li>C</li>
    <li>Rust</li>
    <li>Python</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>IOS development</li>
    <li>Full Stack Dev</li>
    <li>Networking</li>
    <li>Cloud Infrastructure</li>
    <li>Cybersecurity</li>
    <li>Computer Security</li>
    <li>Machine Learning</li>
    <li>Unreal Engine</li>
    <li>Game Dev</li>
    <li>Low Level Programming</li>
    <li>Hardware</li>
  </ul>
</BaseLayout>
